/R1/clasefile/target/
/R1/claseFileNIO/target/
/R1/FilesStreams/target/
/R1/filestreambytes/nbproject/private/
/R1/filestreambytes/build/
/R1/fileaccesoaleatorio/target/
/R1/accesoaleatorio/target/
/R1/filedomxml/target/
/R1/filexmlconversor/target/
/R2/accesosqlite/target/
/R2/accesoOracle/target/
/R1/ejercicio3examen/target/
/R3/proyectoJPA/target/
/R4/proyectoJPA2024/target/
/R4/accesoorcaleObjRel/target/
/R5/existDb/target/
